{% extends 'main/base.html' %}

{% block title %}
Courses
{% endblock %}

{% block content %}
<div class="container">
    <h1 class="mb-4">Course List</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Course Name</th>
                <th class="description-column">Course Description</th>
                <th>Professor</th>
                <th>Semester</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for course in courses %}
            <tr>
                <td>{{ course.id }}</td>
                <td>{{ course.name }}</td>
                <td class="description-column">{{ course.description }}</td>
                <td>{{ course.professor.name }}</td>
                <td>{{ course.semester }}</td>
                <td>
                    <a href="/edit_course/{{ course.id }}" class="btn btn-primary">
                        <i class="fas fa-pencil-alt"></i>
                    </a>
                    <a href="/delete_course/{{ course.id }}" class="btn btn-danger">
                        <i class="fas fa-trash"></i>
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#courseForm">
        Add Course
    </button>

    <!-- Add Professor Button -->
    <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#professorForm">
        Add Professor
    </button>

    <!-- Modal for Add Professor -->
    <div class="modal fade" id="professorForm" tabindex="-1" role="dialog" aria-labelledby="professorFormLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="professorFormLabel">Add Professor</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="POST" action="/professors">
                        <div class="form-group">
                            <label for="professor_name">Professor Name</label>
                            <input id="professor_name" name="name" placeholder="Professor Name" class="form-control">
                        </div>
                        <input type="submit" class="btn btn-success">
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="courseForm" tabindex="-1" role="dialog" aria-labelledby="courseFormLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="courseFormLabel">Add Course</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="POST" action="/courses">
                        <div class="form-group">
                            <label for="name">Course Name</label>
                            <input id="name" name="name" placeholder="Course Name" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="description">Course Description</label>
                            <input id="description" name="description" placeholder="Course Description" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="professor">Professor</label>
                            {% if professors %}
                            <select id="professor" name="professor_id" class="form-control">
                                {% for professor in professors %}
                                <option value="{{ professor.id }}">{{ professor.name }}</option>
                                {% endfor %}
                            </select>
                            {% else %}
                            <p>No professors exist in the database.</p>
                            <a href="/professors" class="btn btn-primary">
                                Add Professor
                            </a>
                            {% endif %}
                        </div>
                        <div class="form-group">
                            <label for="semester">Semester</label>
                            <select id="semester_type" name="semester_type" class="form-control" style="margin-bottom: 10px;">
                                <option value="Spring">Spring</option>
                                <option value="Summer">Summer</option>
                                <option value="Fall">Fall</option>
                                <option value="Winter">Winter</option>
                            </select>
                            <input id="semester_year" name="semester_year" type="number" min="{{ current_year }}" max="{{ current_year|add:3 }}" class="form-control">
                        </div>
                        <input type="submit" class="btn btn-success">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}