{% extends 'main/base.html' %}
{% load static %}

{% block title %}
Home Page
{% endblock %}

{% block content %}
<!-- Middle Hero Section -->
<div id="carouselExampleIndicators " class="carousel slide" data-ride="carousel" style="padding-bottom: 5px;">
  <div class="carousel-inner">
    <div class="carousel-item active" style="background-color: #343a40;">
      <video class="d-block w-100" autoplay loop muted style="object-fit: cover; height: 100vh;">
        <source src="{% static 'main/media/pexels-advancer-films-18505641 (Original).mp4' %}" type="video/mp4">
      </video>
      <div class="carousel-caption d-none d-md-block" >
        <h5>Welcome to Dallas College</h5>
        <p>Quality Education for Everyone</p>
      </div>
    </div>
  </div>
</div>
{% endblock %}